section.section-padding.law-advertisement.parallax(style='padding: 120px 0;')
  .row
    .col-12
      .advertisement-text
        p.text-white.fs-20
        h3.text-white
          | Estamos contigo hasta que ganes.
        .btn-group
          a.btn-first.btn-submit-fill.fw-600(href='#') Iniciar Ahora
section.genmed-intro.margin-fix
  .container
    .row.justify-content-center
      .col-lg-3
        .intro-box.bg-dark-brown.mb-md-20.wow.fadeInUp(data-wow-duration='1s' data-wow-delay='0.3s')
          .intro-wrapper.text-center
            i.flaticon-flag
            h6.text-custom-white.fw-700 Tramites en Linea 
            p.text-custom-white
              | A trav&eacute;s de nuestro portal le damos la posibilidad de realizar su tramites legales sin necesidad de moverte de casa.
      .col-lg-3
        .intro-box.bg-dark-brown.mb-md-20.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.6s')
          .intro-wrapper.text-center
            i.flaticon-flag
            h6.text-custom-white.fw-700 Contabilidad en Linea 
            p.text-custom-white
              | Contamos con un grupo de contables que te facilitar&aacute;n la gesti&oacute;n de tus tramites en linea.
            br
      .col-lg-3
        .intro-box.bg-dark-brown.mb-md-20.wow.fadeInUp(data-wow-duration='2s' data-wow-delay='1s')
          .intro-wrapper.text-center
            i.flaticon-flag
            h6.text-custom-white.fw-700 Abogado en Linea
            p.text-custom-white Dispones de nuestro grupo de abogados para asistencia en tus temas en linea.
            br
section#about.section-padding.about-us-sec.p-relative
  .container
    .row
      .col-lg-6.align-self-center
        .about-left-side.mb-md-40
          h3.text-custom-black.fw-700 Abogados en linea para brindarte el mejor servicio
          p.text-light-white.fs-14.mb-xl-20
            | Mi tr&aacute;mite nace de la necesidad de ofrecerle a nuestros clientes una manera m&aacute;s dinamica y accesible para realizar sus tramites legales.
          p.text-light-white.fs-14.mb-xl-20
            | El grupo de Mi tr&aacute;mite, logra optimizar el tiempo con una mejor oferta de servicios para sus tr&aacute;mites.
          .about-list
            ul
              li.text-light-white.fs-14
                i.fas.fa-check
                |  Experto Legal
              li.text-light-white.fs-14
                i.fas.fa-check
                |  Tasa de &eacute;xito del 100%
              li.text-light-white.fs-14
                i.fas.fa-check
                |  No necesita costo adicional
              li.text-light-white.fs-14
                i.fas.fa-check
                | Muy recomendable
          .signature-sec
            .signature-right
              img.img-fluid.image-fit(src='assets/images/logo.png' alt='Logo')
      .col-lg-6
        .about-right-side-img.p-relative
          .first-img.p-relative
            img.img-fluid.full-width(src='assets/images/aboutus.jpg' alt='about us')
            .transform-center
              .text
                .side-text
                  p
                    strong
                      | Experiencia, responsabilidad
                      br
                      |  y profesionalismo.
  .bg-light-white-skew-2.bg-custom-black