#banner-animation.slider.parallax
  .transform-center
    .container
      .row
        .col-12
          .banner-slider
            .slide-item
              .banner-text
                h3.text-custom-white.fw-700
                  | Parece que algo salio mal
                p.text-custom-white
                  | Esta pagina no existe en nuestro servidor!
                a.btn-first.btn-submit-fill(href='/')
                  | Inicio
            