footer.bg-black.section-padding.footer
  .container
    .row
      .col-lg-3.col-sm-6
        .footer-box
          .footer-heading
            h4.text-custom-white.no-margin Contactos
          p
            | Telefono: +507 6259-2106
          br
          p
            | Mail:  info@mitramite.com
          br
          p
            | Direccion: Panama
          br
      .col-lg-5.col-sm-6
        .footer-box
          .footer-heading
            h4.text-custom-white.no-margin News Letter
          .newsletter
            form
              .form-group
                input.form-control.form-control-custom(type='email' placeholder='Email Id')
              button.btn-first.btn-submit-fill.btn-height.full-width(type='submit') Subscribe
          .social-media
            ul.custom.social-media
              li
                a(href='#')
                  i.fab.fa-facebook-f
              li
                a(href='#')
                  i.fab.fa-twitter
              li
                a(href='#')
                  i.fab.fa-instagram
              li
                a(href='#')
                  i.fab.fa-youtube
              li
                a(href='#')
                  i.fab.fa-google-plus
      .col-lg-3.col-sm-6
        img(src='/assets/images/blanco.png')
.copyright
  .container
    .row
      .col-lg-6
        p.text-custom-white.no-margin
          | &copy; 2021 | Todos los derechos reservados. 
          a.text-custom-white(href='#') Desarrollado por Studio73
#back-top.back-top
  a(href='#top')
    i.flaticon-up-arrow
script(src='/assets/js/jquery.min.js')
script(src='/assets/js/popper.min.js')
script(src='/assets/js/bootstrap.min.js')
script(src='/assets/js/ion.rangeSlider.min.js')
script(src='/assets/js/slick.min.js')
script(src='/assets/js/datepicker.js')
script(src='/assets/js/datepicker.en.js')
script(src='/assets/js/jquery.nice-select.js')
script(src='/assets/js/particles.js')
script(src='/assets/js/jquery.magnific-popup.min.js')
script(src='/assets/js/isotope.pkgd.min.js')
script(src='/assets/js/wow.min.js')
script(src='/assets/js/custom.js')
script(src='https://js.stripe.com/v3/')
//- script(src='https://js.stripe.com/v3' async='')

script(src='/assets/js/bundle.js')
//- script(src='https://js.stripe.com/v3/')
