section#contactos.book-appointment.parallax.section-padding
  .overlay.overlay-bg-black
  .pattern
  .container.margin-fix
    .row
      .col-12
        .appointment-sec
          .row.no-gutters

            .col-lg-12.align-self-center
              .right-side.full-height.bg-border
                .section-heading
                  h3.text-white.fw-600 Recuperación de la contraseña
                form.form-style-2.form-style-3.form-password-recover
                  .row
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-envelope
                          input#emailrecover.form-control(type='email' name='emailRecover' placeholder='Email')
                    .col-md-12
                      button.btn-first.btn-submit-fill.full-width(type='submit') Pedir codigo de recuperación

