section#contactos.book-appointment.parallax.section-padding
  .overlay.overlay-bg-black
  .pattern
  .container.margin-fix
    .row
      .col-12
        .appointment-sec
          .row.no-gutters
            .col-lg-6
              .padding-40.full-height.bg-white
                .align-self-center
                  .section-heading
                    h3.text-custom-blue.fw-600 Contactanos 
                  p.text-dark
                    | Llamanos, deja tu mensajes o correo electonico, estaremos para ti las 24 horas, 5 dias ade la semana.
                  h6.fs-20.mt-4.text-dark
                    | Estamos para t&iacute; las 24 horas, 7 d&iacute;as de la semana.
                  .law-address
                    p.text-dark
                      span.fw-600 Direccion
                      |  : Panama
                    p.text-dark
                      span.fw-600 Email
                      |  : info@mitramite.com
                  a.btn-first.btn-submit-fill(href='https://api.whatsapp.com/send?phone=+50762592106')
                    i.fas.fa-phone.mr-2.fs-16
                    span.fs-16 +507 6259-2106
            .col-lg-6.align-self-center
              .right-side.full-height.bg-border
                .section-heading
                  h3.text-white.fw-600 Bienvenido
                form.form-style-2.form-style-3.form
                  .row
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-envelope
                          input#email.form-control(type='email' name='email' placeholder='Email')
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-key
                          input#password.form-control(type='password' name='password' placeholder='Contraseña ')
                    //- .col-md-12
                    //-   .form-group
                    //-     .input-group
                    //-       span.input-group-preappend
                    //-         i.fas.fa-phone-alt
                    //-       input.form-control(type='text' name='#' placeholder='teléfono')
                    .col-md-12
                      button.btn-first.btn-submit-fill.full-width(type='submit') Iniciar sesion
                a.text-white.fw-600.mt-4(href='/forgotPassword') Olvidaste tu contraseña?
