#banner-animation.slider.parallax
  .transform-center
    .container
      .row
        .col-12
          .banner-slider
            .slide-item
              .banner-text
                h3.text-custom-white.fw-700
                  | Nos dedicamos a darle el mejor servicio a nuestros clientes
                p.text-custom-white
                  | Los mejores profesional al alcance de tu mano
                a.btn-first.btn-submit-fill(href='contact.html')
                  | Contactos
            .slide-item
              .banner-text
                h3.text-custom-white.fw-700
                  | Nos dedicamos a darle el mejor servicio a nuestros clientes
                p.text-custom-white
                  | Los mejores profesional al alcance de tu mano
                a.btn-first.btn-submit-fill(href='contact.html')
                  | Contactos
section.genmed-intro
  .container
    .row.justify-content-center
      .col-lg-3
        .intro-box.bg-dark-brown.mb-md-20.wow.fadeInUp(data-wow-duration='1s' data-wow-delay='0.3s')
          .intro-wrapper.text-center
            i.flaticon-flag
            h6.text-custom-white.fw-700 Tramites en Linea 
            p.text-custom-white
              | A trav&eacute;s de nuestro portal le damos la posibilidad de realizar su tramites legales sin necesidad de moverte de casa.
      .col-lg-3
        .intro-box.bg-dark-brown.mb-md-20.wow.fadeInUp(data-wow-duration='1.5s' data-wow-delay='0.6s')
          .intro-wrapper.text-center
            i.flaticon-flag
            h6.text-custom-white.fw-700 Contabilidad en Linea 
            p.text-custom-white
              | Contamos con un grupo de contables que te facilitar&aacute;n la gesti&oacute;n de tus tramites en linea.
            br
      .col-lg-3
        .intro-box.bg-dark-brown.mb-md-20.wow.fadeInUp(data-wow-duration='2s' data-wow-delay='1s')
          .intro-wrapper.text-center
            i.flaticon-flag
            h6.text-custom-white.fw-700 Abogado en Linea
            p.text-custom-white Dispones de nuestro grupo de abogados para asistencia en tus temas en linea.
            br
section#about.section-padding.about-us-sec.p-relative
  .container
    .row
      .col-lg-6.align-self-center
        .about-left-side.mb-md-40
          h3.text-custom-black.fw-700 Abogados en linea para brindarte el mejor servicio
          p.text-light-white.fs-14.mb-xl-20
            | Mi tr&aacute;mite nace de la necesidad de ofrecerle a nuestros clientes una manera m&aacute;s dinamica y accesible para realizar sus tramites legales.
          p.text-light-white.fs-14.mb-xl-20
            | El grupo de Mi tr&aacute;mite, logra optimizar el tiempo con una mejor oferta de servicios para sus tr&aacute;mites.
          .about-list
            ul
              li.text-light-white.fs-14
                i.fas.fa-check
                |  Experto Legal
              li.text-light-white.fs-14
                i.fas.fa-check
                |  Tasa de &eacute;xito del 100%
              li.text-light-white.fs-14
                i.fas.fa-check
                |  No necesita costo adicional
              li.text-light-white.fs-14
                i.fas.fa-check
                | Muy recomendable
          .signature-sec
            .signature-right
              img.img-fluid.image-fit(src='assets/images/logo.png' alt='Logo')
      .col-lg-6
        .about-right-side-img.p-relative
          .first-img.p-relative
            img.img-fluid.full-width(src='assets/images/aboutus.jpg' alt='about us')
            .transform-center
              .text
                .side-text
                  p
                    strong
                      | Experiencia, responsabilidad
                      br
                      |  y profesionalismo.
  .bg-light-white-skew-2.bg-custom-black
section.section-padding.law-advertisement.parallax
  .row
    .col-12
      .advertisement-text
        p.text-white.fs-20
        h3.text-white
          | Estamos contigo hasta que ganes.
        .btn-group
          a.btn-first.btn-submit-fill.fw-600(href='#') Iniciar Ahora
section#services.main-services.section-padding
  .container
    .section-header
      .section-heading
        h3.text-custom-black.fw-700 Servicios
        .section-description
      .section-btn
    .row
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-xl-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-family
            h5.fw-700
              a.text-custom-black(href='#') Derecho de Familia
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-xl-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-kidnapping
            h5.fw-700
              a.text-custom-black(href='#') Derecho Penal
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-xl-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-hook
            h5.fw-700
              a.text-custom-black(href='#') Derecho Inmobuliario
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-xl-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-book
            h5.fw-700
              a.text-custom-black(href='#') Derecho Educativo
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-md-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-wounded
            h5.fw-700
              a.text-custom-black(href='#') Lesiones Personales
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-md-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-auction
            h5.fw-700
              a.text-custom-black(href='#') Derecho Laboral
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative.mb-xs-30
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-law
            h5.fw-700
              a.text-custom-black(href='#') Derecho Corporativo
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
      .col-lg-3.col-sm-6
        .main-services-box.p-relative
          .main-service-wrapper.padding-20
            .icon-box
              i.flaticon-balance-scale
            h5.fw-700
              a.text-custom-black(href='#') Derecho Civil
            p.text-light-white.no-margin Lorem ipsum dolor sit amet consecte adipiscing elit sed do eiusincidunt.
section.section-padding.features-sec.bg-gray.p-relative
  .custom-img-left
    img.left-bg-img(src='assets/images/icon-4.png' alt='left-bg')
  .custom-img-right
    img.left-bg-img(src='assets/images/icon-7.png' alt='left-bg')
  .container
    .row
      .col-xl-5.col-lg-6.align-self-center
        .section-header.pb-0
          .section-heading
            h3.text-custom-black.fw-700 nuestros departamentos
            .section-description
              p.text-light-white
                | Contamos con un grupo de profesionales del derecho disponibles para brindarte un servicio personal, profesional y con los mejores resultados.
        .video-button
          .video-btn-wrapper
            a
              i.flaticon-play-button
          span.text-light-blue.fs-18.ml-3.fw-500
            a(href='#' data-toggle='modal' data-target='#exampleModalCenter') Play Video
      .col-xl-7.col-lg-6
        .row
          .col-sm-6
            .features-wrapper.first-box
              .card-container.rotate-1.mb-xl-30
                .card
                  .side
                    img.image-fit(src='assets/images/departments/department1.jpg' alt='Jimmy Eat World')
                    .front-text
                      h3.text-custom-white.no-margin.fw-600 Negocio
                  .side.back
                    p.fs-16.no-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              .card-container.rotate-2.mb-xs-30
                .card
                  .side
                    img.image-fit(src='assets/images/departments/department2.jpg' alt='Jimmy Eat World')
                    .front-text
                      h3.text-custom-white.no-margin.fw-600 Corporativo
                  .side.back
                    p.fs-16.no-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .col-sm-6
            .features-wrapper
              .card-container.rotate-3.mb-xl-30
                .card
                  .side
                    img.image-fit(src='assets/images/departments/department3.jpg' alt='Jimmy Eat World')
                    .front-text
                      h3.text-custom-white.no-margin.fw-600 Familia
                  .side.back
                    p.fs-16.no-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry.
              .card-container.rotate-4
                .card
                  .side
                    img.image-fit(src='assets/images/departments/department4.jpg' alt='Jimmy Eat World')
                    .front-text
                      h3.text-custom-white.no-margin.fw-600 Divorcio
                  .side.back
                    p.fs-16.no-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry.
section.why-choose-us-style-2.section-padding
  .container
    .section-header
      .section-heading
        h3.text-custom-black.fw-700 Nuestros tramites en l&iacute;nea
        .section-description
          p.text-light-white
            | Selecciona el tramite que deseas realizar:
    .row
      .col-12
        .square-tabs
          ul.nav.nav-tabs.custom.mb-xl-20
            li.nav-item
              a.nav-link.active(data-toggle='tab' href='#teeth-whitening') Derecho Familiar
            li.nav-item
              a.nav-link(data-toggle='tab' href='#cosmetic-dentistry') Derecho Penal
            li.nav-item
              a.nav-link(data-toggle='tab' href='#pediatric-dentistry') Derecho inmobiliario
            li.nav-item
              a.nav-link(data-toggle='tab' href='#preventive-dentistry') Ley de Educaci&oacute;n
            li.nav-item
              a.nav-link(data-toggle='tab' href='#dental-crowns') Derecho Empresarial
          .tab-content.padding-20.bx-wrapper.bg-custom-white
            #teeth-whitening.tab-pane.container.active
              .tab-inner
                .row
                  .col-lg-6
                    .img-sec.mb-md-40
                      img.full-width(src='assets/images/whyus5.jpg' alt='img')
                  .col-lg-6.align-self-center
                    .content-box
                      .list
                        .row.no-gutters
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-book
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-balance-scale
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-kidnapping
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-law
            #cosmetic-dentistry.tab-pane.container.fade
              .tab-inner
                .row
                  .col-lg-6
                    .img-sec.mb-md-40
                      img.full-width(src='assets/images/whyus5.jpg' alt='img')
                  .col-lg-6.align-self-center
                    .content-box
                      .list
                        .row.no-gutters
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-book
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-balance-scale
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-kidnapping
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-law
            #pediatric-dentistry.tab-pane.container.fade
              .tab-inner
                .row
                  .col-lg-6
                    .img-sec.mb-md-40
                      img.full-width(src='assets/images/whyus5.jpg' alt='img')
                  .col-lg-6.align-self-center
                    .content-box
                      .list
                        .row.no-gutters
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-book
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-balance-scale
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-kidnapping
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-law
            #preventive-dentistry.tab-pane.container.fade
              .tab-inner
                .row
                  .col-lg-6
                    .img-sec.mb-md-40
                      img.full-width(src='assets/images/whyus5.jpg' alt='img')
                  .col-lg-6.align-self-center
                    .content-box
                      .list
                        .row.no-gutters
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-book
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-balance-scale
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-kidnapping
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-law
            #dental-crowns.tab-pane.container.fade
              .tab-inner
                .row
                  .col-lg-6
                    .img-sec.mb-md-40
                      img.full-width(src='assets/images/whyus5.jpg' alt='img')
                  .col-lg-6.align-self-center
                    .content-box
                      .list
                        .row.no-gutters
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-book
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-balance-scale
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-kidnapping
                          .col-sm-6
                            .grid-box
                              .grid-box-inner
                                a.d-block.clearfix(href='#')
                                  .icon-box.mb-xl-20
                                    i.flaticon-law
section.download-app.parallax
  .container
    .row
      .col-lg-6
        .section-header.section-padding-top
          .section-heading
            h3.text-custom-white.fw-700 Descarga nuestra aplicacion
            .section-description
              p.text-custom-white
                | Estamos trabajando en nuestra aplicaci&oacute;n proximamente mayo 2021
        .app-img
          a(href='#')
            img.img-fluid(src='assets/images/app.png' alt='app')
          a(href='#')
            img.img-fluid(src='assets/images/app2.png' alt='app')
        .app-img-btm
          img.img-fluid(src='assets/images/mobile.png' alt='img')
      .col-lg-6
        .app-img-side
          .section-header.section-padding-top
            .section-heading
              h3.text-custom-white.fw-700 funciones de la aplicaci&oacute;n
              .section-description
                p.text-custom-white
          .app-features.section-padding-bottom
            ul.custom
              li
                i.flaticon-live-show
                h5.text-light-blue Abogado en l&iacute;nea 
                p.text-custom-white Contar&aacute;s con un abogado en l&iacute;nea que podr&aacute; darte la informaci&oacute;n que necesites.
              li
                i.flaticon-website
                h5.text-light-blue tramites en linea 
                p.text-custom-white
                  | Se podr&aacute;n realizar tr&aacute;mites directamente de la aplicaci&oacute;n y ver el estado de las mismas en tiempo real.
              li
                i.flaticon-customer-service
                h5.text-light-blue Soporte al instante 
                p.text-custom-white Contamos con un equipo que te brindar&aacute;n soporte al instante si lo requieres.
.social.active
  a.whatsapp(href='https://api.whatsapp.com/send?phone=+50762592106' target='_blank')
    img(src='assets/images/whatsapp.png')
section#contactos.book-appointment.parallax.section-padding
  .overlay.overlay-bg-black
  .pattern
  .container
    .row
      .col-12
        .appointment-sec
          .row.no-gutters
            .col-lg-6
              .padding-40.full-height.bg-white
                .align-self-center
                  .section-heading
                    h3.text-custom-blue.fw-600 Contactanos 
                  p.text-dark
                    | Llamanos, deja tu mensajes o correo electonico, estaremos para ti las 24 horas, 5 dias ade la semana.
                  h6.fs-20.mt-4.text-dark
                    | Estamos para t&iacute; las 24 horas, 7 d&iacute;as de la semana.
                  .law-address
                    p.text-dark
                      span.fw-600 Direccion
                      |  : Panama
                    p.text-dark
                      span.fw-600 Email
                      |  : info@mitramite.com
                  a.btn-first.btn-submit-fill(href='https://api.whatsapp.com/send?phone=+50762592106')
                    i.fas.fa-phone.mr-2.fs-16
                    span.fs-16 +507 6259-2106
            .col-lg-6.align-self-center
              .right-side.full-height.bg-border
                .section-heading
                  h3.text-white.fw-600 Haz tu cita
                form.form-style-2.form-style-3
                  .row
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-user
                          input.form-control(type='text' name='#' placeholder='Nombre y Apellido')
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-envelope
                          input.form-control(type='email' name='#' placeholder='Email')
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-phone-alt
                          input.form-control(type='text' name='#' placeholder='teléfono')
                    .col-md-12
                      button.btn-first.btn-submit.full-width(type='submit') Agendar Cita
#exampleModalCenter.modal.fade(role='dialog')
  .modal-dialog.modal-dialog-centered
    // Modal content
    .modal-content
      .modal-header
        button.close.mdi.mdi-window-close(type='button' data-dismiss='modal')
      .modal-body
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item.youtube-player(src='https://plantilla.studio73pty.com/mitramite/assets/images/video.mp4' width='600' height='400' allowfullscreen='')
