section#contactos.book-appointment.parallax.section-padding
  .overlay.overlay-bg-black
  .pattern
  .container.margin-fix
    .row
      .col-12
        .appointment-sec
          .row.no-gutters

            .col-lg-12.align-self-center
              .right-side.full-height.bg-border
                .section-heading
                  h3.text-white.fw-600 Reinicio de la contraseña
                form.form-style-2.form-style-3.form-password-reset
                  .row
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-envelope
                          input#newPassword.form-control(type='password' name='password' placeholder='Contraseña')
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-envelope
                          input#newPasswordconfirm.form-control(type='password' name='passwordConfirm' placeholder='Confirmar Contraseña')
                    .col-md-12
                      .form-group
                        .input-group
                          span.input-group-preappend
                            i.fas.fa-envelope
                          input#code.form-control(type='text' name='code' placeholder='Codigo')
                    .col-md-12
                      button.btn-first.btn-submit-fill.full-width(type='submit')  Enviar

