doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='keywords' content='#')
  meta(name='description' content='#')
  //- meta(http-equiv='Content-Security-Policy' content="default-src 'self' https://fonts.googleapis.com/ https://fonts.gstatic.com/ 'unsafe-inline';")

  //- meta(http-equiv='Content-Security-Policy' content="default-src 'self'")
  //- meta(http-equiv='Content-Security-Policy' content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://www.google.com")
  //- meta(http-equiv='Content-Security-Policy' content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com;")


  //- meta(http-equiv='Content-Security-Policy' content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://js.stripe.com/v3/")

  title Mi tramite
  link(rel='apple-touch-icon-precomposed' sizes='144x144' href='assets/images/favicon.ico')
  link(rel='apple-touch-icon-precomposed' sizes='114x114' href='assets/images/favicon.ico')
  link(rel='apple-touch-icon-precomposed' sizes='72x72' href='assets/images/favicon.ico')
  link(rel='apple-touch-icon-precomposed' href='#')
  link(rel='shortcut icon' href='assets/images/favicon.ico')
  link(href='/assets/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/css/font-awesome.css' rel='stylesheet')
  link(href='/assets/css/font/flaticon.css' rel='stylesheet')
  link(href='/assets/font/flaticon.css' rel='stylesheet')
  link(href='/assets/css/slick.css' rel='stylesheet')
  link(href='/assets/css/ion.rangeSlider.min.css' rel='stylesheet')
  link(href='/assets/css/datepicker.css' rel='stylesheet')
  link(href='/assets/css/magnific-popup.css' rel='stylesheet')
  link(href='/assets/css/nice-select.css' rel='stylesheet')
  link(href='/assets/css/animate.css' rel='stylesheet')
  link(href='/assets/css/style.css' rel='stylesheet')
  link(href='/assets/css/responsive.css' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap' rel='stylesheet')

  //- script(src='https://unpkg.com/axios/dist/axios.min.js')
  //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')

body.animated-banner 
    .main-body
        include _header
        block content
            h1 this is a placeholder
        
        include _footer


        //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')

        //- <script src="https://unpkg.com/axios/dist/axios.min.js"></script>